<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
    pariatur autem nisi facere, sit eum praesentium incidunt blanditiis quia.
    Corporis!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Roland</h3>
        <p class="quote__company">Library of Ruina</p>
      </div>
    </div>
  </footer>
</blockquote>
